.listScroll {
    margin-top: 10px;
    height: 345px;
    overflow-y: scroll;
}

.listScroll::-webkit-scrollbar {
    display: none;
}

.listGroup {
    padding: 0;
    padding-bottom: 5px;
}

.inputGroup {
    align-items: center;
    width: 75%
}

.listItemText {
    border: none;
    font-size: large;
}