.headerRow {
    height: 10%;
    align-content: center;
    border-bottom: 1px solid lightgray;
}

.sideBar {
    border-right: 1px solid lightgray; 
    background-color: whitesmoke; 
    padding: 0;
}